.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  width: 100%;
}

.grid-2 {
  grid-template-columns: 1fr 2fr;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 20px 10px;
  margin: 10px;
  color: black;
}

.card-title {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid black;
  text-align: center;
}

.card-text {
  text-align: center;
}

.icon {
  font-size: 40px;
  color: var(--primary-color);
  margin: 10px 0;
}
