@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --primary-color:#278980;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* General */
.container {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  width: 100%;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  padding: 5px 20px 10px;
  margin: 10px;
}

.card-title {
  margin:0;
  padding:0;
  border-bottom: 2px solid black;
  text-align: center;
}

.card-text {
  text-align: center;
}
/* Navbar */

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar .flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 100px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

/* Carousel */
.gallery-cell {
  width: 100%;
  height: 200px;
  align-items: center;
}

.gallery-cell img {
  width: 20%;
  display: flex;
}

/* Infos */
.infos {
  padding-top: 50px;
}

.infos .container {
  background-color: #84e2dc;
  padding-bottom: 10px;
}
.infos .flex {
  align-items: flex-start;
  flex-direction: column;
}

.infos .flex-grid  {
  display: flex;
  justify-content: space-around;
}

.infos .card {
  max-width: 30%;
}

.infos .card:hover {
  transform: scale(1.05);
  transition: .2s;
}

/* Footer */
.footer {
  background-color: #278980;
  color: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 70px;
}
